<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooveit.android.androidtemplateproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.AndroidTemplateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

        <activity
            android:name=".activities.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.petdetails.PetDetailsActivity"
            android:label="@string/title_activity_pet_details"
            android:parentActivityName=".activities.home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mooveit.android.androidtemplateproject.activities.home.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.addpet.AddPetActivity"
            android:label="@string/title_activity_add_pet"
            android:parentActivityName=".activities.home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mooveit.android.androidtemplateproject.activities.home.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.editpet.EditPetActivity"
            android:label="@string/title_activity_edit_pet"
            android:parentActivityName=".activities.petdetails.PetDetailsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mooveit.android.androidtemplateproject.activities.petdetails.PetDetailsActivity" />
        </activity>
    </application>

</manifest>